@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

.main{
  font-family: "Poppins";
  color: rgb(50,73,95);
  width: 60%;
  height: 80%;
  margin: 0 auto;
  background-color:#f2f4f6;
  border: 1px solid #f2f4f6;
  border-radius: 10px;
  box-shadow: #0f3788;
  padding: 2rem;
  }
  .main-add{
    margin-bottom: 35px;
  }

  .App .Date {
    width: 158px;
    height: 28px;
    margin-bottom: 25px;
}

.App select {
  width: 158px;
 /*  margin-bottom: 15px;
  margin-right: 15px; */
  max-width: 12rem;
}

.App #gender {
 margin-right: 15px; 
}

.App .btn:focus{
  color: #fff;
  background-color:rgb(50,73,95);
  border:1pax solid  rgb(50,73,95);
}

.App {
   text-align: center; 

}

.App #startDate {
  width: 10rem;
}
.App input{
  margin: 0 10px 10px 10px;
  max-width: 12rem;
  border-radius: 5px;
  padding-left: 5px;
}

.App p{
  margin: 0  ;
  text-transform: capitalize;
  font: 1rem;

}


.App img{
  height: 30px;
  margin: 0;

}
.main button{
  background-color:rgb(50,73,95);
}

.main button:hover {
  background-color:rgb(246, 166, 35);
  color:rgb(50,73,95);
  border:1px solid rgb(50,73,95);
}

.App .aircarft-holder{
  display: flex;
  justify-content: center;
}

.App .date-holder{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.App .aircarft{
  display: block;
}

.Date{
  width: 70%;
  box-shadow: blueviolet;
}

.App button{
  margin: 15px;
  color: white;
}



.form-check-input{
  margin-bottom: 20px;
}
.Details{
  display: flex;
  justify-content:center;
  margin-bottom: 15px;
}
/*  .Details div{
  padding-left:20px;
} */
 
.main input, select{
  border:2.5px solid black;
    /* text-align: center;   */
    border-radius: 5px;
  
}
.App input:hover, select:hover {
  outline: .3rem solid #4479eb;
}
#paxnbr1 option{
  width:76px ;
  margin-right: 0;

}

#paxnbr1{
 /*  width:76px ; */
  margin-right: 0;

  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App .DetailsPax{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.App .DetailsPax input{
  height: 2rem;
}
/* .App .DetailsPax .selectDiv{
  padding-top: 18px;

} */

 .App .DetailsPax label {
  text-transform: uppercase;
  font-weight: bold;

} 

.App .DetailsPax .selectDiv select{
  width: 112px;

}

.App de select{
  margin-left: 15px;
}
.App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-navigation{
  background-color: rgb(50,73,95);
  color:#f2f4f6;
} 

.nav-item:hover,
.nav-item:focus{
  color: rgb(50,73,95);
  background-color:#f2f4f6;
} 


.nav-link {
  color: white; 
}


.nav-link:hover {
  color: rgb(50,73,95); 
}

img, .img-thumbnail {
  width: 10.7%;
  float: right;
  border-radius: 0%;
}



html, body {
  width: 100%;
}
.container-img {
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: visible;
  border: 0px solid rgb(229, 229, 229);
  padding: 0px;
  font-family: sans-serif, Helvetica, ;
  font-size: inherit;
  position: relative;
  height: 75px;
  text-align: inherit;
  background-color: rgb(50, 73, 95);
  padding: 20px 0;
  line-height: inherit;
}

ul {
  display: flex;
  -webkit-box-pack: center;
  padding: 0px 5px;
  width: 600px;
  margin:0;
  
}

li {
  flex: 1 1 25%;
  margin: 0px 15px;
  text-align: center;
  list-style: none;
  
}

.button-img {
  padding: 8px;
  line-height: 1;
  width: 120px;
  cursor: pointer;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  color:white;
  background: rgba(216, 216, 216, 0.34);
  border: 1px solid rgba(211, 211, 211, 0.3);
  padding: 0px 4px 0px 6px;
  height: 28px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
  font-size: 13px;
  opacity: 1;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  bottom: 10px;
  right: 0px;
  z-index: 2;
  outline: none;
  font-family: HelveticaNeue, Helvetica, sans-serif;
  -webkit-box-pack: center;
  justify-content: center;
 background:rgba(255,255,255,.15);

 
}

.flag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  
}
span {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 20px;

} 


.list-reset {
  margin:0;
  padding: 0 10px;
  list-style-type:none;
}

.checkbox-holder{
  margin-top: 15px;
  padding:5px;
  outline: 1px solid gray;
}

.checkbox-holder label{

  padding-right:10px;

}

@media (max-width: 992px) {
  .main{
    height: auto;
  }

  .App p,label{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
  }

  .App select,input{
    width:20rem;
    margin: 0;
    text-align: center;
  }
  .App .DetailsPax .selectDiv select{
    width: 15rem;
    margin-bottom: 0.3rem;
  }

  .App .Details{
    margin: 0;
    flex-direction: column;
  }

  .App .DetailsPax{
    margin: 0 auto;
    flex-direction: column;
  }

  .App .DetailsPax input{
    margin: 0 auto;
    margin-bottom: 0.3rem;
  }

  .App #gender {
    margin: 0 auto;
    }
    .selectDiv{
      display: flex;
      flex-direction: column;
      margin-top: 0.3rem;
    }
    .crew-details div{
      display: flex;
      justify-content: space-between;
      padding: 0 2rem;
    }
    .crew-details div p{
      margin-right: 0.3rem;
    }
    
}
