/* .form{
  display: flex;
}
 */

 .form-control {
    margin-right: 1rem ;
    /* margin-bottom: 4rem; */
    max-width: 20rem;
  }
  
/*   .form-control label{
    border: none;
    width: 20rem;
  } */

 
  .form-control input,
  .form-control textarea {
    display: block;
    max-width: 20rem;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.2rem; 
  } 
   
  .form-control input,
  .form-control textarea {
     width: 20rem; 
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
    
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
 /* .form-control--invalid label,
  .form-control--invalid p {
    color: red;
  } 
   */
  .form-control--invalid input,
  .form-control--invalid textarea {
    border-color: red;
    background: #ffd1d1;
  } 

  .text {
    text-transform: uppercase;
}

#handler1{
  width:262px
}